@import 'utilities.css';

:root{
    --primary:#d13025;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
    --bright:#ee7e0d;
    --grad: linear-gradient(to right top, #7779a0, #a371a9, #d66293, #f55c60, #ee750d);
    --etsy: linear-gradient(120DEG, #d5641c, #FFFFFF);
    --gold: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
    --avi: linear-gradient(240DEG, #d40000, #fcf6ba, #b6777a, #fbf5b7, #964444);
    --avira: linear-gradient(120DEG, #d40000, #FFFFFF);
}
body{
    font-family: 'Poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}

header{
    background-image: linear-gradient(to right top, #070606, #302c2c);
    /*background-image: linear-gradient(to right top, #d13025, #ce2041, #c41d58, #b4266c, #9f327b, #a5357c, #ab377c, #b13a7d, #d03b6c, #e54955, #f06139, #ee7e0d);
    /*background-image: linear-gradient(120DEG, #d13025, #da4620, #e2591b, #e96c14, #ee7e0d);*/
    /*background: var(--bright);*/
    /*opacity: 0.8;*/
    /*clip-path:polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);*/
    /*height: 800px;*/
}

.container{
    max-width: 1152px;
    padding: 0 8px;
    margin: 0 auto;
    /*background-image: url("./images/1clg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    
}
@media (min-width: 576px) {
    .container{
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container{
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container{
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container{
        max-width: 1152px;
    }
}
header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 0.5rem;
    font-size: 20px;
    text-transform: uppercase;
    transition: all .3s ease;
}
header nav .left a:hover{
    color: var(--primary);
}
header nav {
    padding: 1.5rem 0;
}
header nav .branding{
    margin-right: 3rem;
}
/* .clg{
    padding: 1rem 0 0 0;
} */
.clg .left img{
    width: 100%;
    
}
.clg .right{
    color: var(--pure);
}
.clg .right h4{
    font-size: 1.8rem;
    font-style: italic;
    color: var(--light);
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    text-align: center;
}
.clg .right h1{
    font-size: 3rem;
    font-weight: 3000;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-left: 2rem;
    text-align: center;
    
}
.clg .right h1 span{
    color: var(--primary);
}
.clg .right p{
    font-size: 14px;
    line-height: 1.9;
    margin-bottom: 2rem;
    margin-left: 2rem;
    text-align: center;
}
.clg .right {
    margin-top: -3rem;
}
section{
    padding: 6rem 0;
    
}
section.about .about-me-image{
    height: 450px;
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 1000;
}
section.about h1 span{
    color: var(--primary);
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 800;
}
section.about p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 2rem;
}
section.about .social{
    display: flex;
}
section.about .social a{
    background: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 30%;
    margin-right: 0.6rem;
}
section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;

}
section.about .social a:hover{
    background: var(--bright);
    transition: all .3s ease;

}
.section-heading{
color: var(--secondary);
text-align: center;
margin-bottom: 6rem;
line-height: 0.5rem;
font-size: 60px;
padding-bottom: 4rem;
}
.section-heading span{
    color: var(--primary);
    text-align: center;
    margin-bottom: 6rem;
    line-height: 0.5rem;
    font-size: 60px;
    padding-bottom: 4rem;
}
.section-heading + p{
    color: var(--ternary);
    font-family: 'Lato', sans-serif;
    margin-bottom: 8rem;
    text-align: center;
}
section.workshops{
    background: var(--light);
    padding-top: 8rem;
}
section.workshops .card-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);    /*1fr 1fr 1fr*/
    grid-column-gap: 6rem;
    grid-row-gap: 13rem;
}
section.workshops .card-wrapper .card{
    background: var(--pure);
    padding: 8rem 2rem 2rem 2rem;
    position: relative;
    padding-top: 15rem;
    text-align: center;
    transition: all .3s ease;
}
section.workshops .card-wrapper .card img{
    height: 334px;
    width: 400px;
    position: absolute;
    top: -7.5rem;
    left: 50%;
    transform: translateX(-50%);
}
section.workshops .card-wrapper .card h2{
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.workshops .card-wrapper .card p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.6;
}
section.workshops .card-wrapper .card:hover{
    background: var(--dark);
}
section.workshops .card-wrapper .card:hover h2, section.workshops .card-wrapper .card:hover p{
    color: var(--pure);
}
section.sponsors{
    background: var(--gold);
   /* background-image: linear-gradient(to right top, #ca0050, #c0105f, #b41f6d, #a52b78, #953580, #9b4688, #a05590, #a66498, #c082a8, #d8a1ba, #ecc1d0, #ffe3e9);*/
}
section.sponsors .slider .slide img{
    width: 400px;
    height: 200px;
    
    object-fit: contain;
    margin-top: 0rem;
    margin-bottom: 1rem;
}
section.sponsors .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10rem;
}
section.sponsors .slider .slide p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    margin-bottom: 1rem;
}
section.sponsors .slider .slide span{
    font-size: 2rem;
    font-weight: 100;
}
section.sponsors .slider-dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}
section.sponsors .slider-dots{
    margin-top: 1rem;
}
section.sponsors .slider-dots button{
    font-size: 0;
    width: 20px;
    height: 5px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background: var(--primary);
    border-radius: 80px;
    cursor: pointer;
}
section.sponsors .dots li.slick-active button{
    background: var(--pure);
    width: 50px;
}
section.events{
    background: var(--light);
    padding-top: 8rem;
}
section.events .card-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);    /*1fr 1fr 1fr*/
    grid-column-gap: 6rem;
    grid-row-gap: 13rem;
}
section.events .card-wrapper .card{
    background: var(--pure);
    padding: 8rem 2rem 2rem 2rem;
    position: relative;
    padding-top: 15rem;
    text-align: center;
    transition: all .3s ease;
}
section.events .card-wrapper .card img{
    height: 334px;
    width: 400px;
    position: absolute;
    top: -7.5rem;
    left: 50%;
    transform: translateX(-50%);
}
section.events .card-wrapper .card h2{
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.events .card-wrapper .card p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.6;
}
section.events .card-wrapper .card:hover{
    background: var(--dark);
}
section.events .card-wrapper .card:hover h2, section.events .card-wrapper .card:hover p{
    color: var(--pure);
}
section.team{
    background: rgb(231, 219, 197)
    /*background-image: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);*/
    /*background: linear-gradient(120DEG, #d5641c, #FFFFFF);*/
}
section.team .slider .slide img{
    width: 150x;
    height: 300px;
    
    object-fit: contain;
    margin-top: 0rem;
    margin-bottom: 1rem;
}
section.team .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10rem;
}
section.team .slider .slide p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    margin-bottom: 1rem;
}
section.team .slider .slide span{
    font-size: 2rem;
    font-weight: 100;
}
section.team .slider-dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}
section.team .slider-dots{
    margin-top: 1rem;
}
section.team .slider-dots button{
    font-size: 0;
    width: 20px;
    height: 5px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background: var(--primary);
    border-radius: 80px;
    cursor: pointer;
}
section.team .dots li.slick-active button{
    background: var(--pure);
    width: 50px;
}
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
section.contact .card-wrapper .card{
    background: var(--pure);
    
    position: relative;
    padding-top: 1rem;
    text-align: center;
    transition: all .3s ease;
}
section.contact .card-wrapper .card img{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    height: 96px;
    
}
section.contact .card-wrapper .card h1{
    font-weight: 400;
    margin-bottom: 1rem;
}
section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
    margin-bottom: 1rem;
}
section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
}
section.contact .input{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea:focus, section.contact input:focus {
    outline: none;
}
section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
} 
footer{
    background: var(--dark);
    text-align: center;
    padding: 3rem 0;
}
footer .footer-logo{
    margin-bottom: 3rem;
    width: 150px;
}
footer .footer-socials{
    margin-bottom: 3rem;
    margin-right: -1rem;
}
footer .footer-socials a{
    margin-right: 1rem;
}
footer .copyright{
    color: var(--ternary);
}

.site-main-wrapper{
    position: relative;
}
.hamberger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}
.hamberger img{
    width: 60px;
}
.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--grad);
    width: 50%;
    height: 80%;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}
.open{
    transform: translateX(0);
}
.times{
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.times img{
    width: 30px;
}

.mobile-nav ul{
    list-style-type: none;
}
.mobile-nav ul li a{
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
}
@media (max-width:1024px){
    header #main-nav{
        display: none;
    }
    .hamberger{
        display: block;
    }
    .clg .left img{
        width: 260px;
    }
    .clg .right img{
        font-size: 3rem;
    }
    .clg{
        padding-top: 10rem;
    }
    /*header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 27% 89%, 0 100%);
    }*/
    .section.about .about-me-image{
        height: 360px;
    }
    section.events .card-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    section.workshops .card-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    section.contact .card-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }
    section.contact .input-wrap{
        grid-template-columns: repeat(2, 1fr);
}
}
@media (max-width: 576px){
    .hamberger img{
        width: 60px;
        margin-bottom: 5rem;
    }
    .clg{
        flex-direction: column;
    }
    .clg .right {
        position: absolute;
        top: 260px;
        padding: 0 1rem;
    }
    .clg .left{
        margin-top: -5rem;
        margin-right: -9rem;
        padding-bottom: 4rem;background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    }
    .about-inner-wrap{
        flex-direction: column;
    }
    .about .right{
        text-align: center;
        margin-top: 2rem;
    }
    .about .right .social{
        justify-content: center;
    }
    section{
        padding: 4rem 0;
    }
    section.team .slider .slide{
        padding: 0;
        margin-top: 6rem;
    }
    section.events .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 6rem;
    }
    section.workshops .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 6rem;
    }
    section.sponsors .slider .slide{
        padding: 0;
    }
    .section-heading + p{
        margin-bottom: 3rem;
    }
    
    section.contact .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    section.contact .input-wrap{
        grid-template-columns: repeat(1, 1fr);
    }
}
.shake:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.flip:hover{
    transform: rotateY(180deg);
}
.float{
    position:relative;
}
.float:hover{
    top:-30px;
}
.inputcss{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: darkgray;
  /* color: black; */
}